<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:library.db</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="org.example.btl.model.Admin"/>
        <mapping class="org.example.btl.model.User"/>
        <mapping class="org.example.btl.model.Document"/>
        <mapping class="org.example.btl.model.Author"/>
        <mapping class="org.example.btl.model.Borrow"/>
        <mapping class="org.example.btl.model.Publisher"/>
        <mapping class="org.example.btl.model.Genre"/>
        <mapping class="org.example.btl.model.Notification"/>
    </session-factory>
</hibernate-configuration>