.anchor-pane {
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}

.book-title {
    -fx-font-size: 14px;
    -fx-text-fill: #466bb0;
    -fx-font-weight: 700;
}



.borrow-button {
    -fx-background-color: #3e7f6a;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.borrow-button:hover {
    -fx-background-color: #4d9c84;
}
.text-area {
    -fx-control-inner-background:  #fff;
    -fx-border-color:  #E0F7FA;

}
.text-area .scroll-bar:vertical {
    -fx-background-color:  #E0F7FA;
    -fx-border-color: #ddd;

    -fx-background-insets: 0;

}