.menu-button {
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
}

.context-menu {
    -fx-text-fill: #466bb0;
    -fx-background-radius: 10px;
}

.menu-item {
    -fx-text-fill: #466bb0;
}

.menu-item:hover {
    -fx-cursor: hand;
    -fx-background-radius: 10px;
    -fx-background-color: #466bb0;
}

