.login-inputs {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color:  #466bb0
}
.login-signup-Button {
    -fx-font-size: 24;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-background-color: #466bb0;
    -fx-font-weight: 700
    
}

.login-signup-Button:hover {
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-background-color: #6991db;
    -fx-font-weight: 700
}