

.login-inputs {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color:  #466bb0;
    -fx-background-color: #fff
}

.login-signup-Button {
    -fx-font-size: 24;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-background-color: #466bb0;
    -fx-font-weight: 700

}

.login-signup-Button:hover {
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-background-color: #6991db;
    -fx-font-weight: 700
}

.admin-button-functions {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-cursor: hand;
     -fx-pref-width: 73px;
     -fx-pref-height: 67px;
}
.admin-button-functions:hover{
    -fx-background-color: #BDA0E4;
}

.homescreen-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.homescreen-button:hover{
    -fx-background-color: #D3D3D3;
}

.date-picker {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color:  #466bb0;
    -fx-background-color: #fff
}

.date-picker .text-field {
    -fx-background-radius: 12 0 0 12;
    -fx-border-radius: 12 0 0 12;
}

.date-picker .arrow-button {
    -fx-background-radius: 0 12 12 0;
    -fx-border-radius: 0 12 12 0;
}

.change-user-info {
    -fx-pref-width: 20px;
        -fx-pref-height: 20px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-image: url("images/UpdateUserInfo_icon.png");
    -fx-background-size: 100% 100%;
}

.search-button {
    -fx-background-color: #466bb0;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.search-button:hover {
    -fx-background-color: #6991db;
}

.search-button-inUserReturnBook {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 30px;
}

.search-button-inUserReturnBook: hover {
    -fx-background-color:  #D3D3D3;
}

.infoBook-button {
    -fx-background-color: transparent;
    -fx-border-color: #cccccc;
    -fx-text-fill: #466bb0;
    -fx-border-radius: 10px;
    -fx-padding: 8 15;
    -fx-cursor: hand;
}

.infoBook-button:hover {
    -fx-border-color: #999999; /* Viền tối hơn khi hover */
}

.unread-button{
    -fx-background-color: transparent;
    -fx-background-image: url("images/unread.png");
    -fx-background-size: 100% 100%;
    -fx-cursor: hand;
}

.removeAll-button {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
        -fx-border-color: #cccccc;
        -fx-border-radius: 10px;
        -fx-text-fill: #ff0000;
        -fx-cursor: hand;
}
.removeAll-button: hover {
    -fx-background-color: #ff0000;
    -fx-text-fill: #fff;
    -fx-border-color: transparent;
}

.remove-button {
    -fx-background-color: transparent;
    -fx-background-image: url("images/remove.png");
    -fx-background-size: 100% 100%;
    -fx-cursor: hand;

}

.remove-button: hover {
    -fx-background-color: f20808;
}

.note-button {
    -fx-background-color: transparent;
        -fx-background-image: url("images/tick.png");
        -fx-background-size: 100% 100%;
        -fx-cursor: hand;
}

.note-button: hover {
    -fx-background-color: #D3D3D3;
}


